body{
    height: 100%;
    width: 100%;
    margin: auto;
    background-color:white;
}

body #outer-div{
    display: flex;
    justify-content: center;
    align-items: center;
}

body #outer-div #inner-div{
    height: 930px;
    width: 50%;
    background-color: rgba(26, 117, 138, 0.436);
}

body #outer-div #inner-div #header{
    text-align: center;
    background-color: rgb(149, 75, 218);
    margin-top:-20px;
    color: black;
    font-weight: bold;
}

body #outer-div #inner-div #left-para{
    margin-left: 30px;
    color: white;
}

body #outer-div #inner-div #right-para{
    margin-left: 480px;
    margin-top: -130px;
    color: white;
}

body #outer-div #inner-div #right-content{
    margin-left: 480px;
    margin-top: 10px;
}

body #outer-div #inner-div #left-para2{
    margin-left: 30px;
    color: white;
}

body #outer-div #inner-div .quali{
    color: rgb(15, 15, 41);
}

body #outer-div #inner-div .content{
    color: rgb(15, 15, 41);

}

body #outer-div #inner-div #right-para2{ 
    margin-left: 480px;
    margin-top: -495px;
    
}

body #outer-div #inner-div .right-content{
    color: white;
}

body #outer-div #inner-div #references{
    margin-left: 30px;
    font-weight: bold;
    margin-top: 25px;

}

body #outer-div #inner-div .details{
    margin-left: 180px;
    margin-top: -70px;
}
