body{
    background-color: aliceblue;
    height: 100%;
    width: 100%;
    margin: auto;
}

body #outer-div{
    display: flex;
    justify-content: center;
    align-items: center;    
}

body #outer-div .fb{
    color: rgb(27, 27, 102);
    font-size:xx-large;
}

body #outer-div .content{
    margin-top: 85px;
    
}



body #outer-div #inner-div{
    background-color: white;
    height: 350px;
    width: 350px;
    margin-top: 150px;
    margin-left: 370px;
    border-radius: 10px;
}

body #outer-div #inner-div #email input{
    width: 80%;
    margin-top: 20px;
    height: 35px;
    margin-left: 28px;
    border: 1px solid blue;
    border-radius: 5px;
}

body #outer-div #inner-div #password input{
    width: 80%;
    margin-top: 20px;
    height: 35px;
    margin-left: 28px;
    border-radius: 5px;
}

body #outer-div #inner-div #login input{
    background-color: blue;
    color: white;
    width: 83%;
    margin-top: 20px;
    height: 40px;
    margin-left: 28px;
    border-radius: 5px;
    font-weight: bold;
}

body #outer-div #inner-div #para{
    color: blue;
    margin-left: 110px;
}

body #outer-div #inner-div #dash{
    margin-left: 30px;
}

body #outer-div #inner-div #create input{
    height: 45px;
    margin-left: 94px;
    width: 50%;
    margin-top: 20px;
    background-color: rgb(26, 185, 26);
    color: white;
    border-radius: 5px;
}



