body{
    background-image:url(img5.jpg);
    margin: auto;
    height: 100%;
    background-repeat: no-repeat; 
    background-size: cover;
  
}

body #outer-div{
    display: flex;
    align-items: center;
    justify-content: center; 
}

body #outer-div #inner-div{   
    margin-left: 500px;
    margin-top: 100px;
}

body #outer-div #inner-div #header{ 
    font-weight: bolder;
    color:white;
}

body #outer-div #inner-div #header .h2{ 
    color: black;
}

body #outer-div #inner-div #header .h2 input{ 
    border-radius: 10px;
}
   



