body{
    background-color:beige;
    margin: auto;
    width: 100%;
    height: 100%;
}
body #outer-div{
    display: flex;
    justify-content: center;
    align-content: center;

}
body #outer-div #inner-div{
    background-color: azure;
    margin-top: 200px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 50px;
    padding-bottom: 50px;
}
body #outer-div #inner-div #header{
    text-align: center;

}
body #outer-div #inner-div #text-name input{
    width: 250px;
    height: 30px;
    margin-bottom: 8px;
    border-radius: 6px;
}

body #outer-div #inner-div #password input{
    width: 250px;
    height: 30px;
    margin-bottom: 8px;
    border-radius: 6px;
}

body #outer-div #inner-div #LogIn input{
    width: 257px;
    height: 30px;
    margin-bottom: 8px ;
    background-color: rgb(63, 63, 150);
    border-radius: 6px;
}

