body{
    background-color:antiquewhite;
    margin: auto;
    height: 100%;
  
}

body #outer-div{
    display:flex;
    justify-content: center;
    align-items: center;
}

body #outer-div #inner-div{
    background-color: white;
    padding-top: 5%;
    margin-top: 150px;
    padding-left: 3%;
    padding-right: 3%;
    padding-bottom: 5%;
    border-radius: 3%;
    border: dotted red;
    
}

body #outer-div #inner-div #header h1{
    text-align: center;
    font-weight: bold;
}

body #outer-div #inner-div #body .input1 input{
    margin-top: 10px;
}

body #outer-div #inner-div #body #input4 input{
    margin-top:10px ;
    width: 100%;
    background-color: blue;
    border-radius: 10px
    
}
