body{
    background-color: beige;
    height: 100%;
    margin: auto;
}

body #outer-div{
    display: flex;
    justify-content: center;
    align-items: center;
    width:40%;
    background-color: blueviolet;
    margin-left: 400px;
    margin-top: 20px;
    border-radius: 10px;
    border: double gold;
}

body #left-para{
    background-color: orchid;
    margin-left: 400px;
    width: 40%;
    font-weight: bold;
    color:black;
    text-align: center;
    border-radius: 10px;
    border: double red;
}
body #right-para{
    color: brown;
}

body #content{
    color: blue;
}