body{
    background-color:antiquewhite;
    width: 100%;
    height: 100%;
    margin: auto;
}
body #outer-div{
    display: flex;
    justify-content: center;
    align-content: center;
}
body  #outer-div #inner-div{
    background-color: azure;
    border: 1px solid orange;
    border-radius: 10px;
    margin-top: 40px;
    padding-left: 160px;
    padding-right: 350px;
    padding-top: 160px;
    padding-bottom: 80px;

}
body  #outer-div #inner-div #task-name{
    margin-bottom: 5px;

}
body  #outer-div #inner-div #task-name input{
    width: 98%;
    padding-top: 3px;
    padding-bottom: 3px;
}
body  #outer-div #inner-div #submit input{
    background-color: blue;
    margin-top: 60px;
    margin-left: 150%;
    color: white;
}