body{
    background-color: rgb(249, 13, 92);
    margin: auto;
    height: 100%;
}

body #outer-div {
    display: flex;
    justify-content: center;
    align-items: center;
}

body #outer-div #inner-div{
    background-color: white;
    width: 23%;
    height: 450px;
    margin-top: 100px;
}

body #outer-div #inner-div #header{
    margin-left: 10px;
}

body #outer-div #inner-div .para{
    margin-top: 30px;
    margin-left: 10px;
}

body #outer-div #inner-div .content input{
    width: 90%;
    text-align: center;
    background-color: rgb(249, 13, 92);
    margin-top: 30px;
    margin-left: 15px;
    padding-top: 7px;
    padding-bottom: 7px;
    color: white;
}

body #outer-div #inner-div .para1{
    margin-left: 45px;
}

body #outer-div #inner-div .content1 input{
    width: 90%;
    text-align: center;
    background-color: #00bfff;
    margin-top: 1px;
    margin-left: 15px;
    padding-top: 7px;
    padding-bottom: 7px;
    color: white;
}

body #outer-div #inner-div .content2 input{
    width: 90%;
    text-align: center;
    background-color: rgb(54, 52, 109);
    margin-top: 10px;
    margin-left:15px;
    padding-top: 7px;
    padding-bottom: 7px;
    color: white;
}

